<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v3 by </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" src="src/app/assets/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <form action="" user_card>
                <h3>Registration Form</h3>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">Bankname:</label>
                        <div class="form-holder">
                            <i class="zmdi zmdi-account-o"></i>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label for="">Email:</label>
                        <div class="form-holder">
                            <i style="font-style: normal; font-size: 15px;">@</i>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">BIC:</label>
                        <div class="form-holder">
                            <i class="zmdi zmdi-lock-outline"></i>
                            <input type="password" class="form-control" placeholder="********">
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label for="">Repeat Password:</label>
                        <div class="form-holder">
                            <i class="zmdi zmdi-lock-outline"></i>
                            <input type="password" class="form-control" placeholder="********">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">Country:</label>
                        <div class="form-holder select">
                            <select name="" id="" class="form-control">
									<option value="united states">United States</option>
									<option value="united kingdom">United Kingdom</option>
									<option value="viet nam">Viet Nam</option>
								</select>
                            <i class="zmdi zmdi-pin"></i>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label for="">Archi:</label>
                        <div class="form-holder select">
                            <select name="" id="" class="form-control">
									<option >A1</option>
									<option >A2</option>
									<option >A3</option>
                  <option >A4</option>
									<option >B</option>

								</select>
                            <i class="zmdi zmdi-face"></i>
                        </div>
                    </div>
                </div>
                <div class="form-end">
                    <div class="checkbox">
                        <label>
								<input type="checkbox"> Lorem ipsum dolor sit .
								<span class="checkmark"></span>
							</label>
                    </div>
                    <div class="button-holder">
                        <button>Register Now</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</body>

</html>