body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("src/assets/swiftlog.jpg");
    
    background-size: 100%;
}

.user_card {
    height: 700px;
    width: 900px;
    margin-top: 120px;
    margin-bottom: 120px;
    background: rgba(255, 255, 255, 0.89);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(145, 6, 173, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(160, 8, 147, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 140px;
    width: 140px;
    top: -40px;
    border-radius: 50%;
    background: #fdfdfd;
    padding: 00px;
    text-align: center;
}

.brand_logo {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid rgb(255, 104, 3);
}

.slogon {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    margin-top: 18%;
}

.form-group {
    color: white;
}

.form_container {
    margin-top: 80px;
}

table {
    table-layout: fixed;
    width: 900px;
    margin-left: 3%;
}

.login_btn {
    width: 70%;
    background: #fd6804 !important;
    color: rgb(255, 250, 250) !important;
    margin-left: 57%;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.input-group-text {
    width: 100%;
    height: 100%;
    background: #eb5600 !important;
    color: rgb(255, 255, 255) !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.mt-4 {
    font-size: 20px;
    margin-bottom: 10%;
    color: rgb(7, 5, 5);
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}