<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RegistrationForm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" src="src/app/assets/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <form action="" user_card>
                <h3>CSP ASSESSEMENT</h3>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">Nom de banque :</label>
                        <div class="form-holder">
                            <i class="zmdi zmdi-account-o"></i>
                            <input type="text" class="form-control" placeholder="nom de banque *">
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label for="">BIC:</label>
                        <div class="form-holder">
                            <i class="zmdi zmdi-lock-outline"></i>
                            <input type="password" class="form-control" placeholder="****">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">Pays:</label>
                        <div class="form-holder select">
                            <select name="" id="" class="form-control">
                                    <option value="lespays">choisir pays</option>
									<option value="united states">United States</option>
									<option value="united kingdom">United Kingdom</option>
									<option value="vietnam">Vietnam</option>
								</select>
                            <i class="zmdi zmdi-pin"></i>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label for="">Architecture:</label>
                        <div class="form-holder select">
                            <select name="" id="" class="form-control">
                                    <option >choisir architecture</option>
									<option >A1</option>
									<option >A2</option>
									<option >A3</option>
                                    <option >A4</option>
									<option >B</option>

								</select>
                            <i class="zmdi zmdi-face"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                <div class="form-wrapper">
                    <label for="">nom auditeur:</label>
                    <div class="form-holder">
                        <i class="zmdi zmdi-account-o"></i>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">prenom auditeur:</label>
                    <div class="form-holder">
                        <i class="zmdi zmdi-account-o"></i>
                        <input type="text" class="form-control">
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">date de debut :</label>
                        <div class="form-holder">
                            <input type="date" class="form-control" id="pickupdate">
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label for="">date de fin :</label>
                        <div class="form-holder">
                            <input type="date" class="form-control" id="pickupdate">
                        </div>
                    </div>
                    </div>
                <div class="form-end">
                    <div class="button-holder" style="margin-left:45%;">
                        <button>Commencer</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</body>

</html>
